.class-details-container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f3f4f6;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  }
  
  .class-details-card {
    padding: 30px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .class-title {
    font-size: 2.2rem;
    color: #000000;
    margin-bottom: 15px;
    border-bottom: 3px solid #008080;
    padding-bottom: 10px;
  }
  
  .class-description {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 25px;
    line-height: 1.6;
  }
  
  .class-info {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 15px;
  }
  

  .class-info-section {
    flex: 1 1 250px;
    padding: 15px;
    background-color: #f9fafb;
    border: 1px solid #0000002e;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }
  
  /* Indicador de carga */
  .class-details-loading {
    text-align: center;
    font-size: 1.5rem;
    color: #008080;
    padding: 30px;
  }
  
 
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  