html, body, #root {
  margin: 0; /* Elimina márgenes */
  padding: 0; /* Elimina relleno */
  width: 100%; /* Asegura que ocupe todo el ancho */
  height: 100%; /* Asegura que ocupe toda la altura */
  /* overflow: hidden;  */
  box-sizing: border-box; /* Incluye padding y borde en el tamaño total */
}

/* Ajustes básicos de tipografía */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

/* Ajuste de enlaces */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}

/* Ajuste de botones */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}
